body{
    margin: 0;
    padding: 0;
    background: #333;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
}

#app{
    position: absolute;
    left: 5%;
    width: 45%;
    display: flex;
    justify-content: center;
}

.add{
    position: fixed;
    right: 2%;
    box-sizing: border-box;
    width: 42%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

ul{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-right: 40px;
}
li{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    background-color: white;
    min-width: 100%;
    min-height: 80px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 15px;
    padding-right: 40px;
    margin-bottom: 35px;
    margin-left: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px white, 0 0 5px 1px black inset;
    position: relative;
    text-transform: uppercase;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    
}

.confirmation{
    text-decoration: line-through;
    box-shadow: 0 0 15px 3px greenyellow, 0 0 5px 1px black inset;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    top: 35px;
    border-radius: 50%;
    text-transform: uppercase;
    transition: 0.3s;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    border-top: 1.5px solid #333;
    border-left: 0.5px solid #333;
}

a:hover{
    color: #DC0B6F;
    border-color: #DC0B6F;
}

span{
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    box-sizing: border-box;
    border-bottom: 1.5px solid #333;
    border-left: 0.5px solid #333;
    color: #333;
    cursor: pointer;
    background-color: white;
}


span:hover{    
    color: greenyellow;
    border-color: greenyellow;
}


label{
    margin: 0;
    margin-top: 5vh;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: white;
}

input{
    width: 100%;
    text-align: center;
    height: 35px;
    margin: 0;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px white, 0 0 2px 1px black inset;
    box-sizing: border-box;
    font-size: 100%;
    transition: 0.5s;
}

button{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .3s;
    margin-bottom: 30px;
}

.button-disable{ 
    box-shadow: 0 0 10px white;
    color: grey;
}

.button-active{
    background-color: white;
    box-shadow: 0 0 20px 5px lightskyblue, 0 0 2px 1px black inset;
    color: black;
    transition: .3s;
}

.button-active:hover{
    color: lightskyblue;
}


.button1-disable{
    color: grey;
}

.button1-active{
    box-shadow: 0 0 20px 5px greenyellow, 0 0 2px 1px black inset;
    background-color: white;
    color: black;
}

.button1-active:hover{
    color: greenyellow;
}

.button2-disable{
    color: grey;
}

.button2-active{
    box-shadow: 0 0 20px 5px #DC0B6F, 0 0 2px 1px black inset;
    background-color: white;
}

.button2-active:hover{
    color: #DC0B6F;
}

@media screen and (max-width: 750px){
    body{
        flex-direction: column-reverse;
        align-items: center;
    }

    #app{
        position: static;
        width: 80%;
    }

    .add{
        position: static;
        width: 85%;
        padding-bottom: 50px;
    }

    button{
        width: 100%;
        font-size: 80%;
    }

    ul{
        padding: 0;
    }

    li{
        min-width: 70%;
        width: 85%;
        min-height: 100 px;  
        margin-bottom: 10px;
        padding: 15px;
        padding-right: 40px;
        margin-bottom: 35px;
        margin-left: 0;
    }

    a:hover{
        color: #333;
        border-color: #333;
    }
    span:hover{
        color: #333;
        border-color: #333;
    }

    .button-active:hover{
        color: black;
    }
    .button1-active:hover{
        color: black;
    }
    .button2-active:hover{
        color: black;
    }
    
}